.loadbtn {
  background: #16d47b;
  width: 60%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
  position: absolute;
  left : 20%;
  margin-top : 15px;
  height: 40px;

}

.loadbtn p {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  margin-top:10px;
}

.loadbtn:hover {
  opacity: 0.3;
}